/* Import Roboto font */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,500italic,700,700italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}

#toolbar {
    background-color: #18BDC6;
    witdh: 100%;
    margin-bottom: 2rem;
    position: fixed;
    z-index: 100;
}

#toolbar-search {
    background-color: #015290;
    top: 0px;
    left: 20rem;
    width: 20rem;
    position: fixed;
}

#toolbar-container {
    width: 100%;
    position: absolute;
}

#toolbar-logo {
    font-size: 48px;
    width: 3.7rem;
    height: 3.7rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-top: 1.1rem;
}

#content {
    margin-top: 96px;
    width: 100%;
}

#card-container-wrapper {
    width: 100%;
    position: absolute;
    /*top: 64px;*/
    margin: 0 auto;
    padding: 2rem;
}

.graph-canvas {
    float: left;
}

.input-container {
    width: 70%;
    height: 100%;
    top: 0px;
    left: 20rem;
    position: absolute;
}
.determinate {
    background-color:  #64DD17;
}.progress{
    background-color: #acece6;
}
.search-input-wrapper{
    /*background-color: #7986CB; !important;*/
    /*width: 100%;*/
    /*padding: 4px 4px 4px 40px;*/
    /*border: 0;*/
    /*color: white;*/
    /*font-weight: 100;*/
    /*margin-top: 20px;*/
    /*outline: none;*/
}

#search-input {
    background-color: #7986CB; !important;
    width: 100%;
    /*padding: 4px 4px 4px 40px;*/
    padding: 0px 0px 0px 32px;
    border: 0;
    color: white;
    font-weight: 100;
    margin-top: 18px;
    outline: none;
    font-size: 24px;
}

#search-input:focus {
    background-color: white;
    color: #666;
    outline: none;
}

#search-input::-webkit-input-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

#search-input:-moz-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

#search-input::-moz-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

#search-input:-ms-input-placeholder {
    color: white;
    opacity: 1;
    font-weight: 100;
}

#search-icon {
    color: white !important;
    float: left;

    position: relative;
    top: -63px;
    left: 8px;
}

#search-icon.focus {
    color: #666 !important;
}
