.card-sizing {
    /*min-height: 150px;*/
    max-width: 85rem;
    min-width: 20rem;
    margin: 2.5rem auto;
}

.card-title-link {
    text-decoration: none;
    color: #185F72;
}

.card-image {
    height: 215px;
    float: left;
    background-color: white;
    margin-right: 2rem;
    padding: 10px 10px 10px 10px;
    background-color: #185F72;
}

.progress {
    height: 3px;
    margin: 0px;
    background-color: rgb(24, 95, 114) !important;
}

.statistics-card {
    /*background-color: #185F72;*/
/*!important;*/
    background-color: white;
}

.startpage-statistics-card {
    background-color: white;
    margin-bottom: 3rem;
}

.statistics-card-title {
    margin-bottom: 0.5rem;
    line-height: 48px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*color: #47FFFB;*/
    color: #185F72;
    font-size: 20px;

}

.statistics-icon {
    margin-right: 0.2rem;
    font-size: 24px;
    vertical-align: middle;
    /*color: #47FFFB;*/
    color: #185F72;
}

.startpage-statistics-icon {
    color: #185F72;
}

.statistics-text {
    margin-right: 2rem;
    /*color: #FFFFFF;*/
    color: black;
}

.startpage-statistics-text {
    color: black;
}

.statistics-card-description {
    margin-top: 1rem;
}

.card-header {
    padding: 20px;
    padding-bottom: 0;
    position: relative;
    font-size: 20px;
    vertical-align: middle;
}

.card-header-title-big {
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #185F72;
    font-size: 20px;
    float: left;
    clear: both;
}

.card-header-avatar {
    display: inline-block;
    float: left;
    margin-top: 2px;
}

.card-header-info {
    display: inline-block;
}

.card-header-title {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #575757;
    float: left;
    clear: both;
}

.card-location {
    font-weight: 400;
    font-size: 13px;
    width: 200px;
}

.card-action {
    position: relative;
    padding-bottom: 16px;
    padding-top: 16px;
}

.card-body-title {
    margin-bottom: 0.5rem;
    line-height: 48px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #185F72;
    font-size: 20px;
}

.material-avatar {
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 8px;
    background-color: #185F72;
    border: 1px solid #185F72;
    box-shadow: 0 0 1px #9D9D9D;
}

.card-footer-button {
    float: right;
    line-height: 140%;
    margin: 0;
}

.card-action-complete-label {
    font-size: 1.7rem !important;
}

.card-action-img {
    font-size: 2.5rem;
    color: #737373;
}

.starrating-wrapper {
    margin-left: -9px;
}

.starrating {
    margin-right: -14px;
    padding: 0;
    font-size: 32px;
}
